<ion-header>
  <ion-toolbar color="light">
    <ion-title style="color:rgb(0, 59, 81); text-align: center;">Diamonds and Dude</ion-title>
  </ion-toolbar>

</ion-header>

<div class="container" style="background-color: rgb(211, 221, 225);">
  <ion-card>
    <ion-card-content>
      <img src="assets/img/phaser-dude.jpg" alt="">
    </ion-card-content>
  </ion-card>


  <small style="color: rgb(113, 113, 113);"> game-name must be unique</small>
  <small style="color: rgb(0, 132, 118);"> dude will tell you if its not! </small>

  <form [formGroup]="loginForm" (ngSubmit)="onLogSubmit()">

    <ion-card class="play" style="height: 50px; display: flex; justify-content: center; align-items: center;">
      <ion-item>
        <ion-label style="font-weight: bolder; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: tomato;">your <span style="color: gold;">gameName :</span>  </ion-label>
        <ion-input  style="font-weight: bolder; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(0, 184, 92);" placeholder="login" formControlName="loginName"></ion-input>
      </ion-item>
    </ion-card>
   
  
    <div style="padding-left: 1em;">
      <ion-button type="submit" color="success" style="font-weight: bolder; font-family: Verdana, Geneva, Tahoma, sans-serif;">LOGIN</ion-button> 
    </div>
    </form>

  <form [formGroup]="signupForm" (ngSubmit)="onSignSubmit()">

    
    <div style="padding-left: 12em;">    
      <ion-button type="submit" color="warning" style="font-weight: bolder; font-family: Verdana, Geneva, Tahoma, sans-serif;">SIGNUP</ion-button>
    </div>

    
    <ion-card class="play" style="height: 50px; display: flex; justify-content: center; align-items: center; margin-bottom: 10em;">
      <ion-item>
        <ion-label style="font-weight: bolder; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(255, 217, 0);">signup :  </ion-label>
        <ion-input  style="font-weight: bolder; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(0, 184, 92);" placeholder="your gameName" formControlName="signupName"></ion-input>
      </ion-item>
    </ion-card>
   
    

  </form>



  <!-- <ion-card class="play" style="height: 50px; display: flex; justify-content: center; align-items: center;">
    <ion-card-title color="secondary">PLAY NOW</ion-card-title>
    <ion-icon name="play-outline" color="danger" style="font-size: 50px;" routerLink="/gamepad"></ion-icon>
  </ion-card> -->
</div>

