<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Diamonds andDude</ion-title>
  </ion-toolbar>

</ion-header>

<div class="container">
  <ion-card>
    <ion-card-content>
      <img src="assets/img/phaser-dude.jpg" alt="">
    </ion-card-content>
  </ion-card>

  <ion-card class="play" style="height: 50px; display: flex; justify-content: center; align-items: center;">
    <ion-card-title color="secondary">PLAY NOW</ion-card-title>
    <ion-icon name="play-outline" color="danger" style="font-size: 50px;" routerLink="/gamepad"></ion-icon>
  </ion-card>
</div>

